*
{
	font-family: consolas;
}

body
{
    padding: 0px;
    margin: 0px;
    background-color: #003232;
}

/*
content columns
*/
.row
{
    display: flex;
}

.column
{
    padding: 5px;
}

.left
{
    width: 350px;
    background-color:#ddd;
}

.right
{
    flex-grow: 1;
    background-color:#eee;
}

/*
iframe style
*/
.libiframe
{
	border: solid 0px #000;
	background-color: inherit;
	display: block;
	width: 100%;
}
